
<div class="menu">
    <h1> NYU Wireless Live 360 Video Transmitter </h1>

    <a href="/sender/#transmitter"><div id="option"> Sender </div></a>
    <a href="/receiver"><div id="option"> Receiver  </div></a>
    <a href="/rtmp"><div id="option"> RTMP  </div></a>
    <a href="/logger"><div id="option"> Logger  </div></a>

</div>

