<h1 style="display: none">Receiver</h1>

<style>
    .rect {
        width: 80px;
        height: 80px;
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
</style>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.6.0/aframe-master.js"></script> -->

<div style="display: none">Status: <span id="connection" >Disconnected.</span><br><br></div>


<video id="video" src="https://ucarecdn.com/fadab25d-0b3a-45f7-8ef5-85318e92a261/" style="width: 80%; height: 80%;"
               autoplay loop crossorigin="anonymous"></video>

<!-- <a-scene>
    <a-assets>
        <video id="video" src="https://ucarecdn.com/fadab25d-0b3a-45f7-8ef5-85318e92a261/" style="width: 80%; height: 80%;"
               autoplay loop crossorigin="anonymous"></video>
    </a-assets>
    <a-videosphere src="#video" rotation="0 180 0"></a-videosphere>
</a-scene> -->

  <div class="demo-frame">
    <div class="demo-container">
    </div>
  </div>


<script src="/javascripts/receiver.js" charset="utf-8"></script>
<script src="/javascripts/tracking-min.js"></script>

<script>

    const socket = io();

    window.onload = function() {

        var video = document.getElementById('video');
        var colors = new tracking.ColorTracker(['magenta']);

        var frameSent = undefined;
        var signalReceived = undefined;
        var socketDelay = undefined;

        socket.on('flashed', function(time) {
            frameSent = time;
            signalReceived = Date.now();
            socketDelay = signalReceived - frameSent;
            console.log("Flashed at: ", time, "Socket Latency: ", socketDelay);
        });

        colors.on('track', function(event) {            
            if (event.data.length > 0) {

                let frameReceived = Date.now();                
                if (signalReceived){
                    
                    let trackerDelay = frameReceived - signalReceived;
                    let delay = (frameReceived - frameSent) - trackerDelay;
                    
                    frameSent = undefined;
                    signalReceived = undefined;
                    // console.log("Tracker Delay: ", trackerDelay);
                    console.log("Delay: ", delay); 

                } else {
                    console.log("Signal not received")
                }
            }
        });

        tracking.track('#video', colors);
    };
</script>

