
<div id="rtmpUrl">
    <input id="url" type="text" value="rtmp://localhost/live/hayat" name="RTMP" placeholder="Enter RTMP Link">
    <input id="submit" type="submit" value="Enter">
</div>

<div id="player" style="display:none"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/video-dev/clappr-rtmp-plugin@latest/dist/rtmp.min.js"></script>
<script>

const socket = io();

RTMPURL = "";
document.getElementById("submit").addEventListener("click", function(e){
    e.preventDefault();
    
    var RTMPURL = document.getElementById("url").value;

    var player = new Clappr.Player({
        source: RTMPURL,
        parentId: "#player",
        plugins: {'playback': [RTMP]},
        rtmpConfig: {
            swfPath: 'https://cdn.jsdelivr.net/gh/video-dev/clappr-rtmp-plugin@latest/dist/assets/RTMP.swf',
            scaling:'stretch',
            playbackType: 'live',
            bufferTime: 0.1,
            startLevel: 0,
            switchRules: {
                "SufficientBandwidthRule": {
                    "bandwidthSafetyMultiple": 1.15,
                    "minDroppedFps": 2
                },
                "InsufficientBufferRule": {
                    "minBufferLength": 0.1
                },
                "DroppedFramesRule": {
                    "downSwitchByOne": 10,
                    "downSwitchByTwo": 20,
                    "downSwitchToZero": 24
                },
                "InsufficientBandwidthRule": {
                    "bitrateMultiplier": 1.15
                }
            }
        },
    });

    document.getElementById('rtmpUrl').remove();
    document.getElementById('player').style.display = "block";

});

Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
}
NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
    for(var i = this.length - 1; i >= 0; i--) {
        if(this[i] && this[i].parentElement) {
            this[i].parentElement.removeChild(this[i]);
        }
    }
}

</script>