<h1>Transmitter</h1>

Status: <span id="connection">Disconnected.</span><br><br>

<video id="video" width="60%" height="auto" autoplay></video><br>

<script src="/javascripts/transmitter.js" charset="utf-8"></script>